*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family:'Helvetica';
}
html,
body {
  height: 100%;
  width: 100%;
  margin:0px;
  padding:0px;
  overflow-x:hidden;
}
html{
  background-color:hsl(27,66%,92%);
}

/*Styling the header*/
#logo {
  float: left;
  font-size: 150%;
  margin-left: 50px;
}

#navigation {
  font-size: 120%;
}

#navigation li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
  margin-top:10px;
}

#navigation a {
  color: inherit;
  text-decoration: none;
}

#navigation a:hover {
  text-decoration: underline;
}

#navigation,
#logo {
  line-height: 75px;
}

.clear-both {
  clear: both;
}
img{
  height:100px;
}

/* Styling our values section*/
#ourvalues{
  clear:both;
  padding-top: 10px;
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}
#ourvalues h2{
  text-align:center;
  margin-bottom:20px;
}

#comfort {
  width: 33%;
  background-color: white;
  float: left;
  height:150px;
}
#comfort p,h3{
  margin-top:20px;
}

#dogs {
  width: 33%;
  display: inline-block;
  height:150px;
  background-color:hsl(186,34%,77%);
}
#dogs p, #dogs h3{
  margin-top:20px;
}

#child {
  width: 33%;
  background-color:hsl(7,99%,75%);
  float:right;
  height:150px;
}
#child p, h3{
  margin-top:20px;
}
.menu{
  text-align:center;
  margin-bottom:20px;
  margin-top:20px;
}
#menu{
  width:90%;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(4, 1fr);
  grid-gap:20px;
  grid-template-areas:'a b c d'
  'e e e e'
  'f f f f'
  'g g h h'
  'g g h h';
}
#box1{
  grid-area:a;
  border:1px solid hsl(7,99%,75%);
  text-align:center;
}
#box2{
  grid-area:b;
  border:1px solid hsl(7,99%,75%);
  text-align:center;
}
#box3{
  grid-area:c;
  border:1px solid hsl(7,99%,75%);
  text-align:center;
}
#box4{
  grid-area:d;
  border:1px solid hsl(7,99%,75%);
  text-align:center;
}
span{
  text-decoration: line-through;
}
#visit{
  grid-area:e;
  text-align:center;
}
#freepizza{
  grid-area:f;
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}
#pfree{
  grid-area:g;
  font-size:20px;
  margin-top:20px;
}
#woman{
  grid-area:h;
  height:350px;
}