* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Helvetica';
  background-color: aliceblue;
  color: rgb(6, 112, 147);
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

/*Styling the header*/
header {
  grid-area: n;
}

#logo {
  float: left;
  margin-left: 50px;
}

#navigation {
  font-size: 120%;
}

#navigation li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
  margin-top: 10px;
}

#navigation a {
  color: inherit;
  text-decoration: none;
}

#navigation a:hover {
  text-decoration: underline;
}

#navigation,
#logo {
  line-height: 75px;
}

.clear-both {
  clear: both;
}

img {
  height: 100px;
}

/*Styling ourvalues section*/
#ourvalues {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  grid-template-areas: 'h h h'
    'g c d';
}

#values-h {
  grid-area: h;
  text-align: center;
  clear: both;
  margin-bottom: 15px;
}

#gelato {
  grid-area: g;
  background-color: white;
  text-align: center;
}

#gelato img {
  margin-top: 10px;
  margin-bottom: 5px;
}

#gelato h2 {
  margin-bottom: 5px;
}

#coffee {
  grid-area: c;
  text-align: center;
  background-color: rgb(249, 233, 213);
}

#coffee img {
  margin-top: 10px;
  margin-bottom: 5px;
}

#coffee h2 {
  margin-bottom: 5px;
}

#comfort {
  grid-area: d;
  background-color: rgb(208, 237, 247);
  text-align: center;
}

#comfort img {
  margin-top: 10px;
  margin-bottom: 5px;
}

#comfort h2 {
  margin-bottom: 5px;
}

#comfort h3 {
  margin-bottom: 5px;
  margin-left: 3px;
  margin-right: 3px;
}

/*Styling quiz section*/
#win {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

#rules {
  font-size: 120%;
  margin-left: 15px;
  margin-right: 10px;
}

#start {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

#start button {
  font-size: 25px;
  font-weight: 500;
  background-color: white;
  color: rgb(6, 112, 147);
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
}

#info-box {
  display:none;
  text-align: center;
  width: 540px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  margin-top: 80px;
}

#info-title {
  margin-bottom: 7px;
  height: 60px;
  width: 100%;
  border-bottom: 1px solid rgb(208, 237, 247);
  padding: 0 35px;
  padding-top:20px;
  font-size: 20px;
  font-weight: 600;
}

.info {
  margin: 5px;
  font-size: 17px;
}

#info-list {
  padding: 15px 35px;
}
#info-list span{
  font-weight:600;
}
.buttons{
  border-top:1px solid rgb(6, 112, 147);
  height:50px;
}
.buttons button{
  border-radius: 5px;
  padding: 15px 30px;
  cursor: pointer;
  font-size:16px;
  font-weight:500;
  margin:5px 5px;
  height:20px;
}
#quit{
  background-color:white;
  color:rgb(6, 112, 147);
  border:1px solid rgb(6, 112, 147);
}
#quit:hover{
  background-color:rgb(6, 112, 147);
  color:white;
  border:none;
}
#continue{
  background-color:rgb(6, 112, 147);
  color:white;
  border:none;
}
#continue:hover{
  background-color:rgb(6, 77, 99);
}
#quiz-box{
  display:none;
  width: 540px;
  background-color: white;
  border-radius: 5px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  margin-top: 100px;
}
#quiz-box header{
  height:70px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding-left:20px;
  border-bottom: 1px solid rgb(6, 112, 147);
  width:100%;
}
#quiz-box .title{
  font-size:20px;
  font-weight:500;
}
#quiz-box #timer{
  display:flex;
  align-items:center;
  justify-content:space-between;
  width:145px;
  height:45px;
  background:rgb(208, 237, 247);
  border-radius:5px;
  padding:0 8px;
}
#time-left-txt{
  font-size:17px;
  font-weight:400;
  user-select: none;
}
#timer-sec{
  font-size:18px;
  font-weight:500;
  background-color:rgb(6, 112, 147);
  color:white;
  height:30px;
  width:45px;
  text-align:center;
  line-height:30px;
  border-radius:5px;
  user-select: none;
}
#que-text{
  font-size:25px;
  font-weight:600;
  margin-top:7px;
  margin-bottom:15px;
}
.option{
  background:rgb(208, 237, 247);
  border:1px solid rgb(6, 112, 147);
  border-radius:5px;
  padding:8px 15px;
  margin-bottom:15px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  cursor:pointer;
  font-size:17px;
}
#quiz-box section{
  margin-left:10px;
  margin-right:10px;
}
.option:last-child{
  margin-bottom:0px;
}
.option:hover{
  color:white;
  background-color:rgb(6, 112, 147);
}
.icon{
  height:26px;
  width:26px;
  border:2px solid transparent;
  border-radius:50%;
  text-align:center;
  font-size:13px;
  line-height:24px;
  pointer-events:none;
}
.check{
  color:green;
  border-color:green;
}
.times{
  color:red;
  border-color:red;
}
#quiz-box footer{
  height:60px;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
}
#total-que span{
  display:flex;
  user-select:none;
}
#total-que span p{
  font-weight:500;
  padding:0 5px;
}
#total-que span p:first-child{
  padding-left:0px;
}
#next-btn{
  height:40px;
  padding:0 13px;
  font-size:18px;
  font-weight:400;
  border:none;
  outline:none;
  background-color:rgb(6, 112, 147);
  color:white;
  border-radius:5px;
  cursor:pointer;
}
#next-btn:hover{
  background-color:rgb(6, 77, 99);
}
#result-box{
  background-color:white;
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  width:450px;
  padding:25px 30px;
  border-radius:5px;
  display:flex;
  align-items:center;
  flex-direction:column;
  justify-content:space-between;
  text-align:center;
  margin-top:50px;
  pointer-events:none;
  display:none;
}
#icon{
  font-size:80px;
  color:rgb(6, 112, 147);
  margin-bottom:10px;
}
#complete-text{
  font-size:20px;
  font-weight:500;
}
#score-text span{
  display:flex;
  margin:10px 0;
  font-size:18px;
  font-weight:500;
}
#score-text span p{
  font-weight:600;
  padding:0 5px;
}



#contact-us a {
  text-decoration: none;
  color: black;
}

#contact-us a:hover {
  text-decoration: underline;
}

#contact-us {
  text-align: center;
  background-color: hsl(186, 34%, 77%);
  width: 100%;
  grid-area: k;
}

#contact-us li {
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
}