*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family:'Helvetica';
}
html,
body {
  height: 100%;
  width: 100%;
  margin:0px;
  padding:0px;
  overflow-x:hidden;
}

/*Styling the header*/
#logo {
  float: left;
  font-size: 150%;
  margin-left: 30px;
}

#navigation {
  font-size: 120%;
}

#navigation li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
}

#navigation a {
  color: inherit;
  text-decoration: none;
}

#navigation a:hover {
  text-decoration: underline;
}

#navigation,
#logo {
  line-height: 75px;
}

.clear-both {
  clear: both;
}