*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  font-family:'Helvetica';
  background-color:aliceblue;
  color:rgb(6, 112, 147);
}
html,
body {
  height: 100%;
  width: 100%;
  margin:0px;
  padding:0px;
  overflow-x:hidden;
}
/*Styling the header*/
header{
  grid-area:n;
}

#logo {
  float: left;
  margin-left: 50px;
}

#navigation {
  font-size: 120%;
}

#navigation li {
  float: right;
  list-style-type: none;
  margin-right: 20px;
  margin-top:10px;
}

#navigation a {
  color: inherit;
  text-decoration: none;
}

#navigation a:hover {
  text-decoration: underline;
}

#navigation,
#logo {
  line-height: 75px;
}

.clear-both {
  clear: both;
}
img{
  height:100px;
}
/*Styling ourvalues section*/
#ourvalues{
  width:90%;
  margin:auto;
  display:grid;
  grid-template-columns:repeat(3,1fr);
 
  grid-template-areas:'h h h'
  'g c d';
}
#values-h{
  grid-area:h;
  text-align:center;
  clear:both;
  margin-bottom:15px;
}
#gelato{
  grid-area:g;
  background-color:white;
  text-align:center;
}
#gelato img{
  margin-top:10px;
  margin-bottom:5px;
}
#gelato h2{
  margin-bottom:5px;
}

#coffee{
  grid-area:c;
  text-align:center;
  background-color:rgb(249, 233, 213);
}
#coffee img{
  margin-top:10px;
  margin-bottom:5px;
}
#coffee h2{
  margin-bottom:5px;
}
#comfort{
  grid-area:d;
  background-color:rgb(208, 237, 247);
  text-align:center;
}
#comfort img{
  margin-top:10px;
  margin-bottom:5px;
}
#comfort h2{
  margin-bottom:5px;
}
#comfort h3{
  margin-bottom:5px;
  margin-left:3px;
  margin-right:3px;
}
/*Styling quiz section*/
#win{
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}
#rules{
  font-size:120%;
  margin-left:15px;
  margin-right:10px;
}





#contact-us a {
  text-decoration: none;
  color: black;
}

#contact-us a:hover {
  text-decoration: underline;
}

#contact-us {
  text-align: center;
  background-color: hsl(186,34%,77%);
  width: 100%;
  grid-area:k;
}

#contact-us li {
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
}